

body {
font-family: 'Poppins', sans-serif;
    background-color: ghostwhite
}
#box{
      border-width: 4px;
   border-style: groove;
    border-color: blue;
    padding: 50px;
    margin: 50px;
}
h1 {
    margin: 20px;
    padding: 20px;
     font-size: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: ghostwhite

}

img {
    border: 2px solid;
    border-color: blue;
    float: left;
    height: 250px;
    width: 250px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px auto 20px;
}

.prof  {
  float: left;
} 

.main{
    text-align: left;
    margin-left: 100px;
    padding: 10px;
    padding-left: 90px;
}
.list{
    padding:10px;
    padding-left: 200px;
    
}
ul {
    text-align: center;
    list-style-position: inside;
}
ol {
    text-align: center;
    list-style-position: inside;
}
