

body {
font-family: 'Poppins', sans-serif;
       border-width: 4px;
   border-style: groove;
    border-color: blue;
    background-color: ghostwhite
}
h1 {
     font-size: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: ghostwhite

}
{border-image: url(../Images/profpic.jpg) 20 round;

}

img  {
  float: left;
} 

#main{
    padding: 20px
    
}