

body {
font-family:arial;
       border-width: 4px;
   border-style: groove;
    border-color: azure;
    background-color: antiquewhite
}
h1 {
    font-family: 'Poppins', sans-serif;
    background-color: cornsilk

}
{border-image: url(../Images/profpic.jpg) 20 round;

}
